/* Pinterest home page css  */
@font-face{font-family:'Calluna';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
 }
 body {
     background: url(//subtlepatterns.com/patterns/scribble_light.png);
   font-family: Calluna, Arial, sans-serif;
   min-height: 1000px;
 }
 #columns {
     column-width: 320px;
     column-gap: 15px;
   width: 90%;
     max-width: 1100px;
     margin: 50px auto;
 }
 div#columns figure {
     background: #fefefe;
     border: 2px solid #fcfcfc;
     box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
     margin: 0 2px 15px;
     padding: 15px;
     padding-bottom: 10px;
     transition: opacity .4s ease-in-out;
     display: inline-block;
     border-radius: 25px;
   /* column-break-inside: avoid; */
 }
 div#columns figure img {
     width: 100%; height: auto;
     border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
     margin-bottom: 5px;
 }
 div#columns figure figcaption {
   font-size: .9rem;
     color: #444;
   line-height: 1.5;
 }
 div#columns small { 
   font-size: 1rem;
   float: right; 
   text-transform: uppercase;
   color: #aaa;
 } 
 div#columns small a { 
   color: #666; 
   text-decoration: none; 
   transition: .4s color;
 }
 div#columns:hover figure:not(:hover) {
     opacity: 0.4;
 }
 @media screen and (max-width: 750px) { 
   #columns { column-gap: 0px; }
   #columns figure { width: 100%; }
 }


 /* Individual Post css */

 .post-container {
  background-color: blue;
  width:calc(100% - 50px);
float:left;
}

.left-view {
  width: 70%;
  float: left;
  background-color: blueviolet;
}

.right-view {
  width: 30%;
  float: left;
  background-color: burlywood;
}

 #postImg {
  max-width: 50%;
  max-height: 50%;
  margin-top: 0%;
  margin-left: 0%;
  border-radius: 30px;
}


.modal_content {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  padding: 20px;
  border-radius: 30px;
}



/* Navbar Css */
* {
box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;
line-height: .5;
margin: 0;
min-height: 100vh;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}
h2,
h3,
a {
color: #34495e;
}
a {
text-decoration: none;
}
.logo {
margin-left: -100px;
font-size: 1.45em;
}
.main-nav {
margin-top: 5px;
}
.logo a,
.main-nav a {
padding: 10px 15px;
text-transform: uppercase;
text-align: center;
display: block;
}
.main-nav a {
color: #34495e;
font-size: .99em;
}
.main-nav a:hover {
color: #718daa;
}
.header {
padding-top: 0em;
padding-bottom: 0em;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#logo{
max-width: 10%;
max-height: 10%;
margin-left: -55%;
}
/* ================================= 
Media Queries
==================================== */
@media (min-width: 769px) {
.header,
.main-nav {
  display: flex;
}
.header {
  flex-direction: column;
  align-items: center;
    .header{
  width: 80%;
  margin: 0 auto;
  max-width: 1150px;
}
}
}
@media (min-width: 1025px) {
.header {
  flex-direction: row;
  justify-content: space-between;
}
}


/* Form css */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 75px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}



#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



/* Submit Button Css */

#submitButton{
  margin-left: 45em;
  height: 2.5em;
  padding: 0.2em 1em 0.2em 2.25em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 25px 100px;
  border-radius: 2em;
  border: 0.15em solid black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#submitButton:hover {
    color: #fff;
    background-color: black;
    border-color: black;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#submitButton:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Webfonts */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}




/* Search Form Css */


.searchContainer {
  top: 10%;
  left: 40%;
  width:50%;
 
  margin-top: 0em; /*set to a negative number 1/2 of your height*/
  margin-left: -35em; /*set to a negative number 1/2 of your width*/

 
}



#submitsearch{
border: 1px solid rgb(138, 134, 134);
margin-left: -82px;
padding: 5px;
border-radius: 19px;
cursor: pointer;
padding-left: 10px;
padding-right: 8px; 
padding-top: 4px;

display: none;
box-shadow: 0 0 1px black;     
margin-right:110px;
}

#searchInput {
    width: 100%;
    margin-right:300px;

    border: 1px solid #000;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');

    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;

  }







  /* Comment Css */

  .commentBox{
  
  }
  #commentFieldset{
    padding:10px;
    background: silver;
  }
  .form_grp{
    margin-bottom:10px;
  }
  label{
    width:100%;
    height:32px;
    line-height:32px;
    display:block;
    margin-bottom:10px;
    font-size:18px;
    color:#fff;
   padding-left:34px; background:url(https://cdn3.iconfinder.com/data/icons/glypho-free/64/pen-checkbox-32.png) no-repeat left center;
  }
  textarea{
    width:100%;
    height:100px;
    padding:10px;
    border:1px solid #eee;
    resize:none;
  }
  button{
    padding:5px 20px;
    background-color: black;
    color:#fff;
    float:right;
  }
  .viewCmnt{
    clear:both;
    overflow:hidden;
    position:relative;
    background:#c8e7fb;
    border-bottom:1px solid #A6DAFC;
  }
  .viewCmnt p {
    width:100%;
    float:left;
    padding:10px;
    font-size:14px;
    line-height:20px;
    }
  .edit, .delete{
    position:absolute;
    width:20px;
    height:20px;
    display:none;
    cursor:pointer;
    bottom:5px;
    padding:2px;
     }
  .viewCmnt:hover .edit, .viewCmnt:hover .delete{
    display:block;
  }
  .edit{
    right:26px;  background:url(https://cdn4.iconfinder.com/data/icons/miu/22/editor_pencil_pen_edit_write_-16.png) no-repeat center #0e7ec7;
  }
  .delete{
    right:5px;
    background:url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-16.png) no-repeat center #0e7ec7;
    z-index:2;
  }



